<!-- asks for a person, a color, a noun, and an adjective -->

<!DOCTYPE html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>


<form action ="/madlib">
        What's the person's name? <input type="text" name ="person">
    <br>
        Color : <input type="text" name ="color">
    <br>
        noun : <input type="text" name ="noun">
    <br>
        adjective : <input type="text" name ="adjective">
            <br>
        country : <input type="text" name ="country">
            <br>
        feelings : <input type="text" name ="feelings">
    <input type="submit"> 
    <br>                                                                                       

</form>

</body>
</html>


